/* Add this CSS to your style.css file */
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;

}

h1, h2, h3, h4, h5{
    color: #000050;
}

h1 {
    font-size: 2.8em;
    letter-spacing: -3px;
    line-height: 1em;
    font-weight: 600 !important;
    margin-top: 25px;
}

h2{
    font-size: 2.1em;
    font-weight: 600 !important;
    margin-top: 25px;
    line-height: 1em;
}

h3{
    font-size: 1.5em;
    font-weight: 600 !important;
    line-height: 1em;
}

h4{
    font-size: 1em;
    text-transform: uppercase;
}

h5{
    font-size: 1.5em;
    font-weight: 600 !important;
}

h6{
    font-size: 1.05em;
    font-weight: 600;
    color:#000050;
}

p{
    margin-top: 27px;
    color: #000050;
    font-weight: 200;
    font-size: 0.9em;
}

.black{
    color: black !important;
}

.footerp{
    margin-top: 16px;
}

.light{
    font-weight: 200 !important;
    font-size: 1em;
    cursor: pointer;
}

a{
    font-size: 0.9em;
    color: #000050 !important;
    font-weight: 600;
}

.buttonlink{
    color: white !important;
    font-weight: 400 !important;
    font-size: 1em;
}

.buttonlink:hover{
    text-decoration: none;
}

.container{
    padding: 0em 5em;
    max-width: 100% !important;
}

.row{
    margin: 0;
}

.nav-spacer{
    width: 100vw;
    padding: 14px;
    background-color: transparent;
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%; 
}

#header-container {
    background-color: #ffffff;
    border: 1.3px solid #000050;
    width: 100%;    
}

.container-header{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
}

.navbar{
    padding: 0 18px;
}

.navbar-brand {
    width: 10%; /* Adjust the width as needed */
    margin: 0;
    padding: 0;
}

.navbar-nav {
    width: 75%; /* Adjust the width as needed */
    text-align: left;
    padding-left: 20px;
}

.nav-link {
    padding: 20px 25px !important;
    font-size: 0.9em;
    transition: background-color ease-in-out .3s;
    color: #000050 !important;
}

.nav-link:hover{
    background-color: #000050;
    color: white !important;
}

.active{
    background: #000050;
    color: white !important;
}

.logo{
    margin-top: 4px;
}

.quote, .search{
    color: white;
}

.divider {
    
    width: 15%;
    text-align: end;
    display: flex;
    justify-content: end;
}

.btn{
    background-color: #000050;
    border: solid 1px #000050;
    border-radius: 0px;
    padding: 8px 30px;
}

.footer-logo{
    width: 8rem;
}



/*------------- END HEADER & FOOTER CSS----------------*/


.hero-section{
    height: 100vh;
    background: url('assets/hero.png');
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hero-inner{
    height: 100vh!important;
    padding: 14em 0em 7em 0em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.custom-h5{
    font-size: 1.3em;
    font-weight: 200 !important;
    color: white;
}

.quote{
    width: 55%;
}

.search{
    width: 100%;
    text-align: right;
}

.icon-spacing{
    margin-bottom: 5em;
}

.icon-spacing-2{
    margin-bottom: 1.5em;
}

.feature-boxes{
    display: flex;
    gap: 10px;
}

.feature-box{
    width: 25%;
}

.m-50{
    margin-top: 60px !important;
}

.py-10{
    padding: 10% 0%;
}

.pl-5{
    padding-left: 5% !important;
}

.pright-5{
    padding-right: 5em;
}

.pleft-5{
    padding-left: 5em;
}

.border{
    border: solid #000050 1px !important;
}

.bordered-content {
    border: 1px solid #000050;
}

.no-top-border{
 border-top: none !important;
}

.border-left{
    border-left: 1px solid #000050 !important;
}

.full-width{
    width: 100%;
}

.half-width{
    width: 50%;
}

.sixty-width{
    width: 60%;
}

.fourty-width{
    width: 40%;
}

#contact-section .form-control {
    border-radius: 0; 
    border: 1px solid #000050; 
    padding: 22px;
}

#contact-section label{
    color: #000050;
}

#title{
    -webkit-appearance: none;
    color: #000050 !important;
    height: 46px;
    padding: 0 !important;
    padding-left: 22px !important;
}

::placeholder{
    color: gray !important;
}

.img-fluid{
    max-height: 95px;
}

.img-small{
    height: 90px;
}

@media screen and (max-width: 768px) {


    .container{
        padding: 0em 2em;
        max-width: 100% !important;
     }

    
    .feature-boxes{
        flex-direction: column;
    }

    .feature-box{
        width: 100%;
    }

    .border-left{
        border: none !important;
    }

    .pl-5{
        padding: 0 !important;
    }
    
    .half-width{
        width: 100%;
    }

    .sixty-width{
        width: 100%;
    }

    .fourty-width{
        width: 100%;
    }

    .pright-5{
        padding-right: 0;
    }

    .pleft-5{
        padding-left: 0;
    }
    
}